@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color: rgb(26, 22, 32); 
    --second-bg-color:rgb(41, 45, 56);
    --text-color: white;
    --first-main-color: rgb(1, 238, 254);
    --second--main-color: rgb(249, 90, 230);
}
.dark-theme{
    --bg-color: white; 
    --second-bg-color:rgb(255, 255, 1);
    --text-color: rgb(26, 22, 32);;
    --first-main-color: rgb(254, 81, 1);
    --second--main-color: rgb(208, 0, 0);
}
html{
    font-size: 62.5%;
    overflow: auto;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
section{
    padding: 7rem 8% 10rem;
}
.header{
    position: fixed;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 100;
    width: 100%;
    padding: 2rem 10%;
    transition: .3s;
}
.header.sticky{
    background: var(--bg-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}
.name{
    position: relative;
    color: var(--text-color);
    font-weight: 700;
    font-size: 3.0rem;
    cursor: default;
}
span{
    color: var(--first-main-color);
}

.navbar{
    position: relative;
}
.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4em;
    transition: 0.3s;
    position: relative;
}
.navbar a::after{
    content: '';
    background-color: var(--first-main-color);
    position: absolute;
    width: 0%;
    height: 4px;
    left: 0;
    bottom: -6px;
    transition: 0.8s;
}
.navbar a:hover::after{
    width: 100%;
}
.navbar a:hover{
    color: var(--first-main-color);
}
.info{
    position: relative;
    display: flex;
    justify-content: center;
}
.info-text{
    padding-top: 75px;
}
.info-text h1{
    position: relative;
    display: inline-block;
    color: var(--text-color);
    font-weight: 700;
    font-size: 4.2rem;
}
.info-text h3{
    position: relative;
    color: var(--text-color);
    font-weight: 700;
    font-size: 2.5rem;
}
.info-text p{
    position: relative;
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.5rem;
}
.info-img img{
    width: 35vh;
    filter:drop-shadow(0px 0px 5px var(--first-main-color))
    drop-shadow(0px 0px 5px var(--text-color))
    drop-shadow(0px 0px 0.1px var(--second--main-color));
    border-radius: 10px;
    transition: 1s ease;
}
.info-img img:hover{
    filter: drop-shadow(0px 0px 8px rgb(1, 250, 254))
    drop-shadow(0px 0px 8px rgb(1, 106, 254));
    transform: translateY(-15px);
}
.info-img{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 75px;
}
.social-med a{
    position: relative;
}
.social-med a{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 3.49rem;
    height: 3.99rem;
    background: transparent;
    border: .2rem solid var(--first-main-color);
    border-radius: 50%;
    font-size: 3rem;
    color: var(--first-main-color);
    margin: 3rem 1.5rem 3rem 0;
    transform: .5s ease;
}
.social-med a:hover{
    background: var(--bg-color);
    color: var(--second--main-color);
    box-shadow: 0 0 1rem var(--second--main-color);
    border: none;
}
.btn{
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: var(--first-main-color);
    border-radius: 4rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--bg-color);
    transition: 0.8s ease;
    box-shadow: 0 0 2rem var(--first-main-color);
}
.btn:hover{
    box-shadow: none;
}
.btn{
    position: relative;
}
.about{
    background-color: var(--second-bg-color);
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.about-img img{
    height: 45vh;
    filter: drop-shadow(0 0 5px white)
    drop-shadow(0 0 15px var(--first-main-color));
    border: 0.5rem solid var(--first-main-color);
    border-radius: 50%;
}
/*.about-img .circle-spin{

    top: 131.85%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 30%;
    height: 56%;
    border-radius: 50%;
    border-top: 0.2rem solid transparent;
    border-bottom: 0.2rem solid transparent;
    border-left: 0.3rem solid var(--first-main-color);
    border-right: 0.3rem solid var(--first-main-color);
    position: absolute;
}*/
.about-info-text{flex-basis: 60;}
.about-img h1{
    color: var(--text-color);
    font-weight: 700;
    font-size: 4.2rem;
    text-align: center;
}
.about-info-text  h3{
    color: var(--text-color);
    font-weight: 700;
    font-size: 2.5rem;
}
.about-info-text p{
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
}
.tab-heading{
    display: flex;
    margin: 10px 0 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.tab-links{
    font-weight: 500;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-right: 4em;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    background-color: var(--second--main-color);
    position: absolute;
    width: 0%;
    height: 4px;
    left: 0;
    bottom: -6px;
    transition: 0.8s;
}
.tab-links:hover{
    color: var(--first-main-color);
}
.tab-links:hover::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color: var(--first-main-color);
    font-weight: 500;
    font-size: 1.2rem;
}
.tab-contents ul li span{
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--second--main-color);
}

.tab-contents.active-tab{
    display: block;
}
.tab-contents{
    display: none;
}
/*-------------my journey--------------*/

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education .education-column{
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box{
    border-left: .2rem solid var(--first-main-color);
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before{
    content: '';
    top: 8.5rem;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-color: var(--second--main-color);
    border-radius: 20%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--first-main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    z-index: -1;
    transition: 0.8s;
}
.education-content .content:hover::before{
    width: 100%;
}
.education-content .content .year{
    font-size: 1.5rem;
    color: var(--first-main-color);
    padding-bottom: .5rem;
}
.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 2rem;
}
.education-content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
}
/*------------portfolio design---------------*/
#porfolio{
    padding: 50px 0;
    
}
.design{
    background-color: var(--second-bg-color);
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 20px var(--bg-color);
}
.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s ;
    
}
.layer{
    width: 100%;
    height: 0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background: linear-gradient(transparent,red);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    overflow: hidden;
    transition: height 0.5s;
}
.work:hover img{
    transform: scale(0.975);
}
.design .container .see-more .btn{
    text-align: center;
    margin-top: 5rem;
}
.work:hover .layer{
    height: 100%;
}
.layer h3{
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 62px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.layer p{
    font-weight: 500;
    font-size: 1.18rem;
}
.see-more .btn1{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 4px solid var(--first-main-color);
    padding: 14px 45px;
    border-radius: 6px;
    color: var(--first-main-color);
    transition: background 0.5s;
    font-weight: 400;
    font-size: 1.3rem;
    
}
.see-more .btn1:hover{
    background-color: var(--first-main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--first-main-color);
}
/*----------Skills Section-------------*/
.skills{
    min-height: auto;
    padding-bottom: 7rem;

}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-cloumn{
    flex: 1 1 40rem;
}
.skills-cloumn .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--first-main-color);
    border-radius: 0.6rem;
    padding: .5rem 1.5rem;
    overflow: hidden;
}
.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.8s;
}
.skills-box .skills-content:hover::before {
    width: 100%;
}
.skills-content .progress{
    padding: 1rem 0;
}
.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span{
    color: var(--text-color);
}
.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--first-main-color);
    padding: .5rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: 0.3rem;
    background: var(--first-main-color);
}
.skills-cloumn:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skills-cloumn:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 82%;
}
.skills-cloumn:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 85%;
}
.skills-cloumn:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 74%;
}
.skills-cloumn:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 80%;
}
.skills-cloumn:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 87%;
}
.skills-cloumn:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 60%;
}
.skills-cloumn:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 65%;
}
.heading{
    position: relative;
    color: var(--text-color);
    font-weight: 700;
    font-size: 3.5rem;
    cursor: default;
    text-align: center;
    padding-bottom: 2rem;
}
/*--------------Contact----------*/
.contact{
    min-height: auto;
    padding-bottom: 7rem;
    display: flex;
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    max-width: .8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--first-main-color);
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: 0.6rem;
    z-index: -1;
    transition: 0.5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}
.contact form .textarea-field{
    position: relative;
    margin: 0.8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea-field textarea{
    resize: none;
}
.contact form .btn-box.btns .btn{
    cursor: pointer;
}
.contact-info{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact-info-sub{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contact-info-sub h3{
    margin-top: 1.2rem;
}
.contact-info-sub a{
    color: var(--first-main-color);
    display: inline-block;
    justify-content: center;
    align-items: center;
    /* width: 3.49rem; */
    /* height: 3.99rem; */
    /* background: transparent; */
    /* border: 0.2rem solid var(--first-main-color); */
    /* border-radius: 50%; */
    font-size: 2.3rem;
    margin-right: 1.1rem;
    margin-top: 1.5rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 3%;
   /* background-color: var(--second-bg-color);*/
}
.footer-text p{
    font-size: 1.6rem;
    text-align: center;
}
.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    /*background: var(--first-main-color);*/
    border: .2rem solid var(--first-main-color);
    border-radius: 0.6rem;
    
}
.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--first-main-color);
    z-index: -1;
    transition: 0.5s;
}
.footer-iconTop a:hover::before{
    width: 100%;
}
.footer-iconTop a i{
    font-size: 2.5rem;
    color: var(--first-main-color);
    transition: 0.5s;
}
.footer-iconTop a i:hover{
    color: var(--bg-color);
}


/*-------------Animation reload------------*/
.info .animate,
.info-img .animate,
.name .animate,
.navbar .animate,
#menu-icon .animate,
.social-med a .animate,
.btn .animate{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}
.animate.scroll{
    transition: 1s ease forwards;
    transition-delay: calc(.3s / var(--i));
    animation: none;
}
.about.show-animate .animate.scroll{
    transition-delay: calc(.3s * var(--i));
    width: 0;
}
.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}


@keyframes showRight{
    100%{
        width: 0;
    }
}
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }   
}
@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .footer{
        padding: 2rem 4%;
    }
}
@media (max-width: 768px){
    .header{
        background: var(--bg-color);
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 4%;
        background: var(--bg-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}
























